.all{
    padding: 20px;
    height: 70vh;
    width: 350px;
    margin: 0px auto;
}
.picture{
    height: 50px;
   
}
.a{
    margin-top: 50px;
}
.b{
    margin-top: 60px;
}
.c{
    height: 550px;
}
